body{font-family:"Roboto",sans-serif;font-size:14px;margin:0;padding:0;color:#222;overflow-x:hidden;counter-reset:my-sec-counter;scroll-behavior: smooth}
.form-control {
display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #ebebeb;
background-clip: padding-box;
border: none;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-success {
color: #000;
background-color: #ebebeb;
border-color: transparent;
font-weight: 500;
}
.alert-danger {
color: #ffffff;
background-color: #ff6472;
border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: #495057;
border: none;
background-color: #ebebeb;
}
.nav-tabs {
border-bottom: none;
}
.btn-primary {
color: #535353;
background-color: #ebebeb;
border-color: #ebebeb;
}
a {
color: #6a6a6a;
text-decoration: none;
background-color: transparent;
-webkit-text-decoration-skip: objects;
}
.alert-warning {
background-color: #fffbe2;
color: #7f7212;
    padding: 5px 8px;
}
.btn-primary {
color: #ffffff;
background-color: #1777f2;
border-color: #1777f2;
font-size: 16px;
text-align: center;
margin: 0;
overflow: visible;
font-weight: 500;
white-space: nowrap;
display: block;
padding: 0 16px;
width: 100%;
height: 40px;
border: none;
border-radius: 3px;
box-sizing: border-box;
position: relative;
line-height: 40px;
}
.form-control {
display: block;
overflow: hidden;
padding: 21px;
font-size: 14px;
line-height: 20px;
box-sizing: border-box;
width: 100%;
color: #495057;
-webkit-tap-highlight-color: rgba(0,0,0,0);
border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .11) rgba(0, 0, 0, .18);
border-style: solid;
border-width: 1px;
background: #f5f6f7;
background-clip: padding-box;
border-radius: 4px;
    padding-left: 15px;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
._8qtf {
margin: 12px 0 4px 0;
width: 100%;
}
._43mg {
display: block;
overflow: hidden;
text-align: center;
white-space: nowrap;
}
._43mg>span {
display: inline-block;
position: relative;
}
._43mh {
color: #4b4f56;
}
._43mg>span:before {
margin-right: 15px;
right: 100%;
}

._43mg>span:before, ._43mg>span:after {
background: #ccd0d5;
content: '';
height: 1px;
position: absolute;
top: 50%;
width: 9999px;
}
._43mg>span:after {
left: 100%;
margin-left: 15px;
}
._43mg>span:before, ._43mg>span:after {
background: #ccd0d5;
content: '';
height: 1px;
position: absolute;
top: 50%;
width: 9999px;
}
.btn-success {
color: #fff;
background-color: #00a400;
font-weight: 500;
font-size: 15px;
border: none;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .35);
height: 36px;
padding-left: 16px;
padding-right: 16px;
padding-top: 5px;
box-shadow: none;
}
.small, small {
font-size: 90%;
font-weight: 500;
}
.phone{
margin: 0 8px;
display: inline-block;
width: 18px;
height: 32px;
background-position: 0 0;
    background-image: url(/img/cvj8rfO8RgU.png);
background-size: 19px 67px;
background-repeat: no-repeat;
    color: inherit;
-webkit-tap-highlight-color: rgba(255,255,255,0);
    cursor: pointer;
        font-size: 14px;
line-height: 18px;
vertical-align: middle;
}
a:hover{
    text-decoration: none;
}
.small, small {
font-size: 90%;
font-weight: 400;
color: #576b95;
cursor: pointer;
text-decoration: none;
}
a {
color: #3F51B5;
text-decoration: none;
background-color: transparent;
-webkit-text-decoration-skip: objects;
}
.alert-warning {
background-color: #fffbe2;
color: #7f7212;
padding: 5px 8px;
border-radius: 0;
text-align: center;
}

.alert{
 border-radius: 0;
 padding: 8px;
}
.alert-danger{
background-color: #fa3e3e;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover,input{
box-shadow: none!important;
outline: 0;
border:none;
}
.logo{
width:250px;
}
body{
background: #f0f2f5;
}
.vhnlog {
background: #fff;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
margin: auto;
padding: 20px;
}
.form-control {
padding: 25px;
background: #fff;
font-weight: bold;
border: 1px solid #dddfe2;
font-size: 15px;
}
.btn-primary,.btn-success{
    height: 50px;
        font-weight: bold;
}
.container{
    margin-top: 30px;
}
.alert-danger {
background-color: #E91E63;
padding: 13px;
border-radius: 8px;
font-weight: bold;
width: 21%;
text-align: center;
margin: auto;
margin-top: 1rem!important;
    margin-bottom: 0!important;
}
@media only screen and (max-width: 600px) {
.alert-danger {
background-color: #E91E63;
padding: 8px;
border-radius: 0;
font-weight: bold;
width: 100%;
text-align: center;
margin-top: 0!important;
    margin-bottom: 15px!important;
margin: auto;
}
.logo{
width:112px;
}
body{
background: #fff;
}
.vhnlog {
background: #fff;
border-radius: 0;
box-shadow: none;
margin: auto;
padding: 10px;
}
.form-control {
padding: 18px;
background: #f5f6f7;
font-weight: bold;
font-size: 14px;
}
.btn-primary,.btn-success{
    height: 40px;
        font-weight: bold;
}
.container{
    margin-top: 0;
}
}
